.light-theme {
  --color-bg-start: #{$color-bg-light};
  --color-bg-end: #{darken($color-bg-light, 20%)};
  --color-btn: #{$color-btn-light};
  --color-btn-hover: #{lighten($color-btn-light, 7%)};
  --color-block: #{$color-btn-light};
  --color-block-border-top: #{lighten($color-btn-light, 5%)};
  --color-block-border-bottom: #{darken($color-btn-light, 5%)};
  --color-game-block: #{$color-btn-light};
  --color-separate-block: #{darken($color-btn-light, 35%)};
  --color-timer: #{$color-timer-light};
  --color-separate-timer: #{darken($color-timer-light, 35%)};
  --color-timer-border-top: #{lighten($color-timer-light, 5%)};
  --color-timer-border-bottom: #{darken($color-timer-light, 5%)};
  --color-cross: #{$color-text-hint-light};
  --color-fill: #{$color-bg-light};
  --color-hint: #{darken($color-btn-light, 5%)};
  --color-cell-border: #{darken($color-btn-light, 15%)};
  --color-cell-border-section: #{darken($color-btn-light, 40%)};
  --color-cell-hover: #{rgba(lighten($color-btn-light, 30%), 9)};
}

.dark-theme {
  --color-bg-start: #{$color-bg-dark};
  --color-bg-end: #{darken($color-bg-dark, 20%)};
  --color-btn: #{$color-btn-dark};
  --color-btn-hover: #{lighten($color-btn-dark, 20%)};
  --color-block: #{$color-btn-dark};
  --color-block-border-top: #{lighten($color-btn-dark, 5%)};
  --color-block-border-bottom: #{darken($color-btn-dark, 5%)};
  --color-game-block: #{$color-btn-dark};
  --color-separate-block: #{lighten($color-btn-dark, 35%)};
  --color-timer: #{$color-timer-dark};
  --color-separate-timer: #{darken($color-timer-dark, 35%)};
  --color-timer-border-top: #{lighten($color-timer-dark, 5%)};
  --color-timer-border-bottom: #{darken($color-timer-dark, 5%)};
  --color-cross: #{$color-text-hint-dark};
  --color-fill: #{$color-bg-dark};
  --color-hint: #{darken($color-btn-dark, 5%)};
  --color-cell-border: #{darken($color-btn-dark, 10%)};
  --color-cell-border-section: #{darken($color-btn-dark, 40%)};
  --color-cell-hover: #{rgba(lighten($color-btn-dark, 30%), 9)};
}

@function shadow() {
  @return rgba(0, 0, 0, 0.4);
}

@mixin body-background() {
  background: linear-gradient(
      180deg,
      var(--color-bg-start) 0%,
      var(--color-bg-end) 100%
    )
    fixed;
}

@mixin block-button() {
  border-radius: 20px;
  background: var(--color-btn);
  border-top: 1px solid var(--color-block-border-top);
  border-left: 1px solid var(--color-block-border-top);
  border-right: 1px solid var(--color-block-border-bottom);
  border-bottom: 1px solid var(--color-block-border-bottom);
  box-shadow: 0px 10px 20px 0px shadow();
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

@mixin block-button-disable() {
  opacity: 0.5;
  cursor: default;
  transition: none;
}

@mixin block-hover-disable() {
  transition: none;
  box-shadow: none;
}

@mixin block-hover() {
  background: var(--color-btn-hover);
  transition: 0.4s;
  box-shadow: 0px 5px 10px 0px shadow();
}

@mixin block-box() {
  border-radius: 40px;
  background: var(--color-block);
  border-top: 1px solid var(--color-block-border-top);
  border-left: 1px solid var(--color-block-border-top);
  border-right: 1px solid var(--color-block-border-bottom);
  border-bottom: 1px solid var(--color-block-border-bottom);
  box-shadow: 0px 10px 20px 0px shadow();
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin block-game() {
  border-radius: 40px;
  background: var(--color-game-block);
  box-shadow: 0px 10px 20px 0px shadow();
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin block-bottom-wrapper() {
  border-bottom: 1px solid var(--color-separate-block);
}

@mixin block-right-wrapper() {
  border-right: 1px solid var(--color-separate-block);
}

@mixin timer-box() {
  border-radius: 20px;
  border-top: 1px solid var(--color-timer-border-top);
  border-left: 1px solid var(--color-timer-border-top);
  border-right: 1px solid var(--color-timer-border-bottom);
  border-bottom: 1px solid var(--color-timer-border-bottom);
  background: var(--color-timer);
  box-shadow: 0px 10px 20px 0px shadow();
}

@mixin timer-box-wrapper() {
  border-right: 1px solid var(--color-separate-timer);
}

@mixin crossword() {
  border-color: var(--color-cell-border);
  background-color: var(--color-game-block);
}

@mixin fill {
  background: var(--color-fill);
}

@mixin cross {
  background-color: var(--color-cross);
}

@mixin empty {
  background-color: var(--color-game-block);
}

@mixin cell() {
  background-color: var(--color-game-block);
  border-radius: 5px;
  border: 2px solid var(--color-cell-border);
  box-shadow: 0px 1px 1px 0px shadow();
}

@mixin hint() {
  background-color: var(--color-hint);
  border: 2px solid (var(--color-cell-border));
}

@mixin cell-hover() {
  box-shadow: inset 0px 0px 4px 2px var(--color-cell-hover);
}

@mixin border-left() {
  border-left: 2px solid var(--color-cell-border-section);
}
@mixin border-top() {
  border-top: 2px solid var(--color-cell-border-section);
}
@mixin border-right() {
  border-right: 2px solid var(--color-cell-border-section);
}
@mixin border-bottom() {
  border-bottom: 2px solid var(--color-cell-border-section);
}

@mixin modal-backdrop-style {
  background: rgba(64, 63, 61, 0.8);
}

@mixin slider-button-on() {
  background-color: var(--color-btn);
  background-repeat: no-repeat;
  background-position: center;
  background-size: adaptive-size(40, 20);
  border-radius: 50%;
  box-shadow: 0px 10px 20px 0px shadow();
}

@mixin slider-button-off() {
  background-color: var(--color-btn);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin slider-button-hover() {
  box-shadow: 0px 5px 10px 0px shadow();
  background-color: var(--color-btn-hover);
}

@mixin slider-slider() {
  background-color: var(--color-timer);
  box-shadow: 0px 10px 20px 0px shadow();
  border-radius: 34px;
}
