.visually-hidden {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@function adaptive-size($max-size, $min-size) {
  $add-size: $max-size - $min-size;
  $max-free-width: $desktop-width-count - $mobile-width-count;
  @return calc(
    #{$min-size + px} + #{$add-size} * ((100vw - 360px) / #{$max-free-width})
  );
}