
$mobile-width: 360px;
$font-stack: 'Josefin Sans', sans-serif;
$text-title-color: #54351F;
$text-timer-color: #FFFFFD;
$text-hint-color: #737755;
$text-hint-off-color: #b1b595;
$mobile-width-count: 360;
$desktop-width-count: 1440;