
$mobile-width: 680px;
$font-stack: 'Josefin Sans', sans-serif;
$text-title-color: #54351F;
$text-timer-color: #FFFFFD;
$text-hint-color: #737755;
$mobile-width-count: 680;
$desktop-width-count: 1440;