$font-stack: "Josefin Sans", sans-serif;

$mobile-width: 360px;
$mobile-width-count: 360;
$desktop-width-count: 1440;

$color-bg-light: #839371;
$color-bg-dark: #30424c;

$color-btn-light: #f6ebd5;
$color-btn-dark: #2f3034;

$color-timer-light: #b5bf92;
$color-timer-dark: #6b5140;

$color-text-base-light: #54351f;
$color-text-base-dark: #efe3af;

$color-text-timer-light: #fffffd;
$color-text-timer-dark: #f5e9cf;

$color-text-hint-light: #737755;
$color-text-hint-dark: #597787;
