.timer {
  @include timer-box();
  display: flex;

  &__img-wrapper {
    @include timer-box-wrapper();
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    @include button-size();
  }

  &__time-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 80px;
    margin: 0px 18px;
  }

  &__time {
    @include font-timer();
    @include adaptive-font-timer();
    margin: 0px 5px;
    margin-top: 4px;
    width: 2em;
  }
}
