.bookmark {
  @include block-bottom-wrapper();
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 21px;

  &__img {
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;
  }

  &__text {
    @include font-base();
    @include adaptive-font-base();
    margin: 0px;
  }
}
