

.empty {
  @include empty();
}

.cell {
  width: 40px;
  height: 40px;
  @include cell();
  
  cursor: pointer;
  position: relative;
  transition: 0.4s;

  &:hover{
    @include cell-hover();
  }

}

.hint{
  @include hint();
  @include font-hint();
  text-align: center;
  vertical-align: center;

  &--off{
    @include font-hint-off();
  }
}

.fill {
  @include fill
}

.crossword {
  border-collapse: collapse;
  @include crossword();
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  @include cross();
}

.cross::before {
  height: 2px;
  width: 50%;
  top: 50%;
  left: 25%;
  transform: translateY(-50%) rotate(45deg);
}

.cross::after {
  width: 2px;
  height: 50%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.border-left{
  @include border-left();
}
.border-top{
  @include border-top();
}
.border-right{
  @include border-right();
}
.border-bottom{
  @include border-bottom();
}

