.modal-gallery {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  @include modal-backdrop-style();

  &__window {
    z-index: 900;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;

    @include body-background();
    border-radius: 40px;
  }

  &__wrapper {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    @include block-box();
  }

  &__title-wrap {
    @include block-bottom-wrapper();
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__example-img {
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;
  }

  &__title {
    align-self: center;
    margin: 5px 0;
    text-align: center;
    flex-grow: 1;

    @include font-tittle();
    @include adaptive-font-title();
  }

  &__example-name {
    margin: 0;
    // text-align: center;
    margin: 20px 0;

    @include font-base();
    @include adaptive-font-base();
  }

  &__button {
    cursor: pointer;
    @include block-button();
    border-radius: 5px;
    box-shadow: none;

    @media (any-hover: hover) {
      &:hover {
        @include block-hover();
        transform: translateY(-0.1em);
      }
    }
  }

  &__button-img {
    width: 40px;
    height: 40px;
    padding: 0px;
  }

  &__gallery-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 70svh;
    overflow-y: auto;
    padding: 0px 10px;
  }

  &__example-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;

    @media (any-hover: hover) {
      &:hover {
        @include block-hover();
        transform: translateY(-0.1em);
      }
    }
  }

  &__example-name {
    flex-grow: 1;
  }

  &__level-img {
    width: adaptive-size(40, 20);
    height: adaptive-size(40, 20);
  }
}
