.modal-results {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  @include modal-backdrop-style();

  &__window {
    z-index: 900;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    align-items: center;

    @include body-background();
    border-radius: 40px;
  }

  &__wrapper {
    padding: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    @include block-box();
  }

  &__title-wrap {
    @include block-bottom-wrapper();
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__img{
    width: 60px;
    height: 60px;
    padding: 10px;
  }

  &__title {
    align-self: center;
    margin: 20px 0;
    text-align: center;

    @include font-tittle();
    @include adaptive-font-title();
  }

  &__information {
    margin: 0;
    text-align: center;
    margin: 20px 0;

    @include font-tittle();
    @include adaptive-font-title();
  }

  &__button {
    cursor: pointer;
    @include  block-button();
    border-radius: 50%;

    &:hover {
      @include block-hover();
      transform: translateY(-0.10em);
    }
  }

  &__button-img{
    width: 80px;
    height: 80px;
    padding: 0px;

  }
}