.options{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  &__refresh {
    @include  block-button();

    &:hover {
      @include block-hover();
      transform: translateY(-0.25em);
    }
  }
  &__show-answer {
    @include  block-button();
    &:hover {
      @include block-hover();
      transform: translateY(-0.10em);
    }
  }

  &__refresh-img {
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;

  }
  &__show-answer-img{
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;

  }

  &__save-load {
    @include  block-button();
    background: none;
  }

  &__save {
    // @include  block-button();
    @include  block-button();
    border-radius: 20px 0px 0px 20px;
    box-shadow: none;
    @include block-right-wrapper();

    &:hover {
      @include block-hover();
      
      transform: translateY(-0.10em);
    }

    
  }

  &__load {
    @include  block-button();
    border-radius: 0px 20px 20px 0px;
    box-shadow: none;
    &:hover {
      @include block-hover();
      transform: translateY(-0.10em);
    }
  }

  .disable {
    @include  block-button-disable();

    &:hover {
      @include block-hover-disable();
      transform: none;
    }
  }

  &__save-img {
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;
  }
  &__load-img {
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;
  }
}