.options{
  display: flex;
  gap: 15px;

  &__refresh {
    @include  block-button();

    &:hover {
      @include block-hover();
      transform: translateY(-0.25em);
    }
  }
  &__show-answer {
    @include  block-button();
    &:hover {
      @include block-hover();
      transform: translateY(-0.10em);
    }
  }

  &__refresh-img {
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;

  }
  &__show-answer-img{
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;

  }
}