.theme,
.sound {
  position: relative;
  display: inline-block;
  width: adaptive-size(90, 70);
  height: adaptive-size(50, 30);

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    @include slider-slider();

    &:before {
      position: absolute;
      content: "";
      width: adaptive-size(60, 40);
      height: adaptive-size(60, 40);
      left: 0px;
      bottom: 4px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      transition: 0.4s;
      @include slider-button-on();
    }

    @media (any-hover: hover) {
      &:hover {
        &:before {
          @include slider-button-hover();
          transform: translateY(-0.25em);
        }
      }
    }
  }

  &__input:checked + &__slider {
    @include slider-slider();

    @media (any-hover: hover) {
      &:hover {
        &:before {
          @include slider-button-hover();
          transform: translate(32px, -0.25em);
        }
      }
    }
  }

  &__input:checked + &__slider:before {
    transform: translateX(32px);
    background-size: adaptive-size(40, 20);
    @include slider-button-off();
  }
}

.theme .theme__slider:before {
  background-image: url("../img/icons/light-theme.png");
}
.theme .theme__input:checked + .theme__slider:before {
  background-image: url("../img/icons/dark-theme.png");
}

.sound .sound__slider:before {
  background-image: url("../img/icons/sounds-on.png");
}
.sound .sound__input:checked + .sound__slider:before {
  background-image: url("../img/icons/sounds-off.png");
}
