.timer {
  @include timer-box();
  display: flex;

  &__img-wrapper {
    @include timer-box-wrapper();
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: adaptive-size(60, 40);
    height: adaptive-size(60, 40);
    padding: 10px;
  }

  &__time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__time {
    @include font-timer();
    @include adaptive-font-timer();
    margin: 0px 15px;
    margin-top: 4px;
    min-width: 73px;
  }
}
